body{
    background-color: #979797;
}

.container{
    background: url("../images/wallpaper.jpg");
    margin: 0 auto;
    height: 444px;
    width: 1024px;
    background-size: cover;
}

.box{
    background: url("../images/rectangle.png") no-repeat;
    width: 683px;
    height: 444px;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    color: #4A4A4A;
    padding-left: 36px;
    padding-top: 84px;
}

.yes{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    color: #4A4A4A;
    padding-left: 36px;
    padding-top: 21px;
}

.paragraph{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    width: 484px;
    padding-left: 36px;
    padding-top: 30px;
}


.button {
    background-color: #395EAB;
    color: whitesmoke;
    height: 40px;
    width: 199px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    margin-left: 36px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3);
}